.next/
node_modules/
dist/
coverage/
.env
.env.local
data/*.db
data/*.db-*
backups/
tsconfig.tsbuildinfo
.DS_Store
*.log

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
